<h1><%= @article.title %></h1>

  <h3>This article has <%= @revisions.count %> revisions. <%= link_to "History", article_revisions_path(@article) %></h3><br>
  <p><%= @article.body.html_safe %></p><br>
  <div><%= link_to "Edit", edit_article_path(@article) %></div>

